@page
@inject IWebHostEnvironment Env
@using Microsoft.AspNetCore.Mvc.RazorPages
@using System.Linq
@using static soly.Pages.IndexModel
@model IndexModel

<meta name="description" content="Оптовая база соли и сахара в Калининградской области. Поставки с 1993 года. Собственные склады, доставка по СЗФО.">

@{
    ViewData["Title"] = "Оптовая база соль и сахар 39";
}


<div class="container">
    <header class="text-center my-5">
        <h1 class="display-4">Оптовая база соль и сахар 39</h1>
        <p class="lead">в Калининградской области, г. Светлый</p>
        <p>Более 32 лет на рынке оптовой торговли.<br>Начало деятельности ИП: 7 сентября 1993 г.</p>
    </header>
    <section class="contact-section bg-light p-4 rounded mb-5">
        <div itemscope itemtype="http://schema.org/LocalBusiness">
            <h2 class="text-center mb-4">ОФИС</h2>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <strong>Телефоны:</strong><br>
                        <a href="tel:+74012521756" class="text-decoration-none">8 (4012) 521-756</a><br>
                        <a href="tel:+74012521726" class="text-decoration-none">8 (4012) 521-726</a>
                    </p>
                    <p>
                        <strong>Директор Игорь Леонидович:</strong><br>
                        <a href="tel:+79211040774" class="text-decoration-none">8 (921) 104-07-74</a><br>
                        <a href="tel:+79212655158" class="text-decoration-none">8 (921) 265-51-58</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        <strong>E-mail:</strong>
                        <a href="mailto:larkov.kig@mail.ru" class="text-decoration-none">larkov.kig@mail.ru</a>
                    </p>
                    <p>
                        <strong>Адрес офиса и склада:</strong><br>
                        238340, Калининградская область<br>
                        г. Светлый, ул. Железнодорожная д. 3
                    </p>
                    <a href="#map" class="btn btn-primary">Схема проезда</a>

                    <meta itemprop="telephone" content="+74012521756">
                    <meta itemprop="email" content="larkov.kig@mail.ru">
                    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <meta itemprop="streetAddress" content="ул. Железнодорожная д. 3">
                        <meta itemprop="addressLocality" content="Светлый">
                        <meta itemprop="addressRegion" content="Калининградская область">
                        <meta itemprop="postalCode" content="238340">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="features-container mb-5">
        <h2 class="text-center mb-4">Наши преимущества</h2>
        <div class="row g-3">
            <div class="col-md-3">
                <div class="feature-item p-3 h-100 border-start border-4 border-primary bg-white">
                    <h5 class="mb-0">Собственные склады</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature-item p-3 h-100 border-start border-4 border-success bg-white">
                    <h5 class="mb-0">Выгружаем все виды ж/д вагонов</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature-item p-3 h-100 border-start border-4 border-primary bg-white">
                    <h5 class="mb-0">Разгрузочная рампа</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature-item p-3 h-100 border-start border-4 border-success bg-white">
                    <h5 class="mb-0">Доставка автотранспортом</h5>
                </div>
            </div>

            <div class="col-md-3">
                <div class="feature-item p-3 h-100 border-start border-4 border-success bg-white">
                    <h5 class="mb-0">Цены от объёма</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature-item p-3 h-100 border-start border-4 border-primary bg-white">
                    <h5 class="mb-0">Оперативность в отгрузке</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature-item p-3 h-100 border-start border-4 border-success bg-white">
                    <h5 class="mb-0">Пунктуальность в документах</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature-item p-3 h-100 border-start border-4 border-primary bg-white">
                    <h5 class="mb-0">Ответственность</h5>
                </div>
            </div>
        </div>
    </div>

    </div>
    <section class="about">
        <p>Оптовая база «Соль и сахар 39» в г. Светлый (Калининградская область) специализируется на поставках пищевой и технической соли, сахара-песка и сопутствующих товаров для предприятий пищевой промышленности, мясопереработки и сельского хозяйства.</p>
        <p>Работаем с 1993 года. Собственные склады, ж/д рампа для разгрузки вагонов, доставка автотранспортом по всему Северо-Западному региону.</p>
    </section>


    <button class="navbar-toggler d-md-none fixed-top m-3" type="button" data-bs-toggle="collapse" data-bs-target="#mobileMenu">
        <span class="navbar-toggler-icon"></span> Категории
    </button>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <div id="mobileMenu" class="categories-sidebar collapse d-md-block">
                <h4 class="mb-4 px-3">Категории</h4>
                <div class="accordion" id="categoriesAccordion">
                    @foreach (var category in Model.Categories)
                    {
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapse-@category.Id">
                                    <i class="bi @GetCategoryIcon(category.Id) me-2"></i>
                                    @GetShortCategoryName(category.Id)
                                </button>
                            </h2>
                            <div id="collapse-@category.Id"
                                 class="accordion-collapse collapse"
                                 data-bs-parent="#categoriesAccordion">
                                <div class="accordion-body">
                                    <ul class="list-unstyled">
                                        @foreach (var product in category.Products)
                                        {
                                            <li class="mb-2">
                                                <a href="#product-@product.Id"
                                                   class="text-decoration-none product-link"
                                                   onclick="highlightProduct('@product.Id')">
                                                    <i class="bi @GetProductIcon(product.Id) me-2"></i>
                                                    @GetShortProductName(product.Name)
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-9">
            @foreach (var category in Model.Categories)
            {
                <section id="@category.Id" class="mb-5">
                    <h2 class="mb-4">@category.Name</h2>

                    @foreach (var product in category.Products)
                    {
                        <div id="product-@product.Id" class="card mb-4 product-card" itemscope itemtype="http://schema.org/Product">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-md-3">
                                        <div class="product-image-container">
                                            <img src="/images/products/@(product.ImageName).jpg"
                                                 alt="@product.Name"
                                                 class="img-fluid product-image"
                                                 loading="lazy"
                                                 onerror="this.src='/images/products/default.jpg'">
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="card-body h-100">
                                            <h5 class="card-title" itemprop="name">@product.Name</h5>
                                            <meta itemprop="brand" content="@product.Manufacturer" />
                                            <meta itemprop="sku" content="@product.Id" />
                                            <p class="card-text" itemprop="description">@product.Description</p>
                                            <ul class="list-unstyled">
                                                <li><strong>Фасовка:</strong> <span itemprop="weight">@product.Packaging</span></li>
                                                <li><strong>Производитель:</strong> <span itemprop="manufacturer">@product.Manufacturer</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </section>
            }
        </div>
    </div>
</div>
 


    
    <div id="map" style="width: 100%; height: 400px;"></div>

    <footer class="footer bg-light py-4 mt-5">
        <div class="container-fluid px-lg-5">
            <div class="row gx-lg-4 justify-content-between">
                <div class="col-lg-3 mb-4 mb-lg-0 px-lg-3">
                    <h5 class="mb-3">ИП Ларьков</h5>
                    <p class="text-muted small mb-3">На рынке оптовой торговли с 1993 года</p>
                    <a href="/privacy" class="text-decoration-none">Политика конфиденциальности</a>
                </div>

            <div class="col-lg-3 mb-4 mb-lg-0 px-lg-3">
                <h5 class="mb-3">Контакты</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="tel:+74012521756" class="text-decoration-none">
                            <i class="bi bi-telephone me-2"></i>8 (4012) 521-756
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="mailto:larkov.kig@mail.ru" class="text-decoration-none">
                            <i class="bi bi-envelope me-2"></i>larkov.kig@mail.ru
                        </a>
                    </li>
                    <li class="mb-0">
                        <i class="bi bi-geo-alt me-2"></i>
                        <span class="d-inline-block">238340, Калининградская обл.,<br>г. Светлый, ул. Железнодорожная, д. 3</span>
                    </li>
                </ul>
            </div>

                <div class="col-lg-2 mb-4 mb-lg-0 px-lg-3">
                    <h5 class="mb-3">График работы</h5>
                    <ul class="list-unstyled">
                        <li class="mb-1">Пн-Пт: 8:00-17:00</li>
                        <li class="mb-1">Сб: 9:00-15:00</li>
                        <li>Вс: выходной</li>
                    </ul>
                </div>

                <div class="col-lg-2 text-lg-end px-lg-3">
                    <div class="d-flex flex-column">
                        <small class="text-muted mb-1">© 2025 Все права защищены</small>
                        <small class="text-muted">Сайт разработан в 2025 году</small>
                    </div>
                </div>

            </div>
        </div>
    </footer>


@functions {
    string GetCategoryIcon(string categoryId) => categoryId switch
    {
        "sol" => "bi-cup-straw",
        "sol-techno" => "bi-tools",
        "sol-jiv" => "bi-egg-fried",
        "korm_jiv" => "bi-basket",
        "Sahr" => "bi-mortarboard",
        "Uksus" => "bi-droplet",
        "shepa" => "bi-tree",
        _ => "bi-box"
    };

    string GetShortCategoryName(string categoryId) => categoryId switch
    {
        "sol" => "Соль пищ.",
        "sol-techno" => "Соль тех.",
        "sol-jiv" => "Соль корм.",
        "korm_jiv" => "Корма",
        "Sahr" => "Сахар",
        "Uksus" => "Уксус кисл.",
        "shepa" => "Щепа ольх.",
        _ => categoryId
    };

    string GetProductIcon(string productId) => productId switch
    {
        _ when productId.Contains("sol-") => "bi-droplet",
        _ when productId.Contains("sahr") => "bi-mortarboard",
        _ => "bi-box"
    };

    string GetShortProductName(string name) => name switch
    {
        "Соль вакуум-выварочная «Экстра»" => "Вакуум-выварочная",
        "Соль нитритная (для производства колбасных изделий)" => "Нитритная",
        "Соль каменная Илецкая помол №1, 3; высший сорт" => "Илецкая",
        "Соль каменная Белорусская помол №1, 3 первый сорт" => "Белорусская",
        "Соль, фасованная в п/э пакет, высший сорт" => "Фасованная (пакет)",
        "Соль, фасованная в картонную пачку, высший сорт" => "Фасованная (пачка)",
        "Морская соль, фасованная в картонную пачку, высший сорт" => "Морская",
        "Соль «лизунец» для животных" => "Лизунец",
        "Концентрат минеральный ГАЛИТ в МКР, в мешках Различных классов" => "Галит",
        "Соль Таблетированная" => "Таблетированная",
        "Мел кормовой" => "Мел корм.",
        "Сода пищевая (бикарбонат натрия)" => "Сода пищ.",
        "Сахар-песок" => "Сахар-песок",
        "Уксусная кислота 70% пищевая" => "Уксус 70%",
        "Щепа ольховая (средняя фракция ~1см х 1см)" => "Щепа средняя",
        "Щепа ольховая (мелкая фракция ~0,3см х 1см)" => "Щепа мелкая",
        "Щепа ольховая (крупная фракция ~3см х 1,5см)" => "Щепа крупная",
        _ => name.Length > 20 ? name.Substring(0, 17) + "..." : name
    };
}


@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const cookieConsent = document.getElementById('cookieConsent');
            const acceptButton = document.getElementById('acceptCookies');

            if (!localStorage.getItem('cookiesAccepted')) {
                setTimeout(() => {
                    cookieConsent.style.display = 'block';
                }, 1000);
            }

            acceptButton.addEventListener('click', function () {
                localStorage.setItem('cookiesAccepted', 'true');
                cookieConsent.style.display = 'none';

                if (typeof gtag === 'function') {
                    gtag('consent', 'update', {
                        'analytics_storage': 'granted'
                    });
                }
            });
        });
    </script>

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script>
        document.querySelectorAll('#mobileMenu .nav-link, .product-link').forEach(link => {
            link.addEventListener('click', function () {
                if (window.innerWidth < 768) {
                    const collapse = new bootstrap.Collapse(document.getElementById('mobileMenu'));
                    collapse.hide();
                }
            });
        });

        ymaps.ready(function () {
            var map = new ymaps.Map("map", {
                center: [54.9431, 20.1515],
                zoom: 15,
                controls: []
            });
            var placemark = new ymaps.Placemark([54.9431, 20.1515], {
                hintContent: 'Оптовая база "Соль и сахар 39"',
                balloonContent: 'ул. Железнодорожная д. 3, г. Светлый'
            }, {
                preset: 'islands#redDotIcon'
            });
            map.geoObjects.add(placemark);
            map.behaviors.disable('scrollZoom');
        });

        function highlightProduct(productId) {
            const productCard = document.getElementById(`product-${productId}`);
            if (productCard) {
                productCard.scrollIntoView({
                    behavior: 'smooth',
                    block: 'start'
                });
                productCard.classList.add('border-primary', 'shadow');
                setTimeout(() => {
                    productCard.classList.remove('border-primary', 'shadow');
                }, 3000);
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            const scrollToTopBtn = document.getElementById('scrollToTop');

            if (scrollToTopBtn) {
                window.addEventListener('scroll', function () {
                    if (window.pageYOffset > 300) {
                        scrollToTopBtn.classList.add('show');
                    } else {
                        scrollToTopBtn.classList.remove('show');
                    }
                });

                scrollToTopBtn.addEventListener('click', function (e) {
                    e.preventDefault();
                    if ('scrollBehavior' in document.documentElement.style) {
                        window.scrollTo({
                            top: 0,
                            behavior: 'smooth'
                        });
                    } else {
                        const scrollStep = -window.scrollY / 15;
                        const scrollInterval = setInterval(function () {
                            if (window.scrollY > 0) {
                                window.scrollBy(0, scrollStep);
                            } else {
                                clearInterval(scrollInterval);
                            }
                        }, 15);
                    }
                });
            }
        });
    </script>
}
    <div id="scrollToTop" class="scroll-to-top">
        <i class="bi bi-arrow-up-circle-fill"></i>
    </div>